.root {
  height: 100%;
}

.chatList {
  position: absolute; /* 위치를 고정 */
  bottom: 50px; /* messageInput 위 공간 확보 */
  width: 100%; /* 전체 폭 사용 */
  overflow-y: auto; /* 스크롤 가능 */
  max-height: calc(100vh - 300px); /* 화면에서 Navbar와 MessageInput을 제외한 높이 */
  padding: 10px; /* 여백 추가 */
  box-sizing: border-box;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.messageInput {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}
.messageInput > input {
  flex-grow: 1;
}

.card {
  display: flex;
}
.card > input {
  flex-grow: 1;
}